.container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #121212;
  color: white;
}

h1, h2 {
  text-align: center;
}

.project-description {
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.5;
}

.project-description p {
  background: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

input {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: white;
}

button {
  padding: 10px 15px;
  border: none;
  background: #007BFF;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}

button:focus {
  outline: none;
}
